*{
    margin: 0;
    padding: 0;
}
#header img{
  width: 85px;
  height: 17px;
  margin: 22px 0 0 80px;
  float: left;
}
#top_text{
  display: flex;
  justify-content: space-between;
}
#header{
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: black;
}
#header_text_1{
  float: left;
}
#header_text_1 a{
  float: left;
  padding-left: 32px;
  margin-top: 22px;
}
#header_text_2{
  float: left;
  padding-right: 90px;
}
#header_text_2 a{
  float: left;
  padding-left: 32px;
  margin-top: 22px;
}
.header_text a{
    text-decoration: none;
    color: rgb(200, 200, 200);
    font-size: 11px;
    font-weight: 600;
}
ul {
  width: 700%;
  height: 600px;
  list-style: none;
  animation: slid 10s infinite;
}
li h4{
  margin-top: 120px;
  margin-left: 190px;
  display: inline-block;
}
li h1{
  font-size: 50px;
  font-weight: 300;
  margin-left: 190px;
  display: inline-block;
}
li h3{
  font-size: 17px;
  font-weight: 400;
  margin-left: 190px;
  display: inline-block;
}
li {
  width: calc(100%/7);
  float: left;
  color: white;
  background-image: url(./img/main_1.JPG);
  background-size: cover;
  height: 640px;
}
li:nth-child(2){
  background-image: url(./img/main_2.webp);
  background-size: cover;
  height: 640px;
}
li:nth-child(3){
  background-image: url(./img/main_3.webp);
  background-size: cover;
  height: 640px;
}
li:nth-child(4){
  background-image: url(./img/main_4.JPG);
  background-size: cover;
  height: 640px;
}
li:nth-child(5){
  background-image: url(./img/main_5.JPG);
  background-size: cover;
  height: 640px;
}
li:nth-child(6){
  background-image: url(./img/main_6.webp);
  background-size: cover;
  height: 640px;
}
li:nth-child(7){
  background-image: url(./img/main_7.JPG);
  background-size: cover;
  height: 640px;
}
.search-btn {
  color: #EDEDED;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box{
  float: left;
  padding-top: 10px;
}
.search-txt {
  width: 0;
  transition: 0.5s;
  border: none;
 margin-top: 10px;
}
.search-box:hover > form .search-txt {
  width: 200px;
}









